@import "../../../../assets/scss/config/variables";
@import "../../../../assets/scss/config/functions";
@import "../../../../assets/scss/config/mixins";
@import "../../../../assets/scss/config/extends";

.mh-option-group {
  display: block;

  &__label {
    display: block;
    margin-top: -1px;
    padding: 32px 0 16px 16px;
    background-color: $mh_primary_300;
    font-size: rem(12px);
    font-weight: 700;
    pointer-events: none;
  }
}
