@import "../../../assets/scss/config/variables";
@import "../../../assets/scss/config/functions";
@import "../../../assets/scss/config/mixins";
@import "../../../assets/scss/config/extends";

.mh-select {
  display: block;
  position: relative;
  height: 100%;
  margin: 0;
  border: 0;
  border-radius: 4px;
  outline: 0;
  background: 0 0;
  text-align: left;

  // Select Values Style
  &__view {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &__values {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__placeholder {
    color: $mh-text-color-default;
    font-size: rem(16px);
    font-weight: 500;
  }

  &__value-text {
    color: $mh-text-color-default;
    font-size: rem(16px);
    font-weight: 500;
  }

  &--disabled &__value-text {
    color: #9e9e9e;
  }

  &__guide {
    transition: .2s cubic-bezier(0.4, 0, 0.2, 1);
    fill: $mh-secondary-800;
  }

  &--panelOpen &__guide {
    transform: rotateX(180deg);
    fill: $mh-secondary-800;
  }

  // Error Style
  &.ng-invalid.ng-dirty &__guide {
    display: none;
  }

  &.ng-invalid.ng-dirty &__panel-wrap {

    @include media-q (xs) {
      box-shadow: inset 0 0 0 2px $mh-danger-dark;
    }
  }

  // Panel Style
  &__panel-wrap {
    width: 100%;
    height: 100%;
    padding: 0;
    padding-top: 16px;
    z-index: 20;

    @include media-q (xs) {
      position: absolute;
      top: 100%;
      left: -2px;
      width: calc(100% + 4px);
      height: auto;
      padding: 2px;
      border-radius: 0 0 4px 4px;
      background-color: $mh-neutral-white;
      box-shadow: inset 0 0 0 2px $mh-secondary-800;
    }
  }

  &__panel {
    max-height: 80vh;
    margin: 2px;
    margin-left: 0;
    overflow-Y: scroll;

    @include media-q (xs) {
      max-height: 300px;
    }

    &::-webkit-scrollbar {
      width: 2px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #cbcbcb;
    }
  }

  &__search-input {
    width: calc(100% - 32px);
    max-width: 100%;
    height: 48px;
    max-height: 100%;
    margin: 0;
    padding: 0 44px 0 16px;
    border: 1px solid $mh-primary-600;
    border-radius: 4px;
    outline: 0;
    background: 0 0;
    color: $mh-primary-800;
    font-size: rem(16px);
    font-weight: 500;
    text-align: inherit;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    z-index: 20;

    @include media-q (xs) {
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100% - 54px);
      height: 100%;
      padding: 0 0 0 16px;
      transform: none;
      border: 0;
    }

    &::placeholder {
      color: $mh-text-color-default;
      font-size: rem(16px);
      font-weight: 500;
    }
  }

  &__close-button {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 44px;
    padding: 0 10px;
    background-color: transparent;
    z-index: 21;

    @include media-q (xs) {
      display: none;
    }
  }

  &__search &__close-button {
    top: 18px;
    right: 18px;
  }

  //Select ligthbox

  &__content-panel {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    height: auto;
    padding-top: 16px;
    transform: translate(-50%, -50%);

    background-color: $mh-neutral-white;
    z-index: 20;
    -webkit-transform: translate(-50%, -50%);

    @include media-q (xs) {
      display: block;
      position: static;
      width: auto;
      transform: none;
      background-color: transparent;
    }
  }

  &__background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.6);
    z-index: 19;

    @include media-q (xs) {
      background-color: transparent;
    }
  }
}
