@import "../../../../assets/scss/config/variables";
@import "../../../../assets/scss/config/functions";
@import "../../../../assets/scss/config/mixins";
@import "../../../../assets/scss/config/extends";

.mh-option {
  display: block;
  cursor: pointer;

  &--filtered {
    display: none;
  }

  &--disabled {
    background-color: $mh-primary-200;
    pointer-events: none;
  }

  &--selected {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path fill='none' d='M0 0h24v24H0z'/><path d='M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 24px;
  }

  &--selected &__label {
    padding-right: 40px;
  }

  &--active {
    background-color: $mh-secondary-050;
  }

  &--show-in-filter &__label {
    span {
      font-weight: 600;
    }
  }

  &--disabled &__label {
    color: $mh-primary-500;
  }

  &__label {
    display: block;
    margin: 0 0 0 16px;
    padding: 16px 16px 16px 0;
    border-bottom: 1px solid $mh-neutral-xlight;
    color: $mh-text-color-default;
    font-size: rem(14px);
    font-weight: 500;
  }

  &:last-child &__label {
    border-bottom: 0;
  }

  &:hover {
    background-color: $mh-secondary-050;
  }
}
